.paragraph {
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-top: 0px;
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: opacity 0.4s;
}

.link:hover {
  opacity: 0.7;
}

.link:active {
  opacity: 0.5;
}


.site-title {
  margin-top: 0rem;
  font-size: 3.5rem;
  color: black;
  font-weight: 700;
  display: flex;
  justify-content: left;
  margin-bottom: 0px;
}

.heading {
  color: gray;
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  padding-bottom: 1rem;
  display: flex;
  justify-content: left;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.aboutBox {
  background-color: #f0f0f0;
  padding: 10px;
  width: 720px;

  border-left: 8px solid black;
}

.aboutText {
  color: black;
  margin: 0;
  font-style: italic;
  font-size: 14px;
  max-width: 100%;
}


@media (max-width: 600px) {
  .headerRow,
  .paragraph,
  .link {
    justify-content: center;
  }
}