.paragraph {
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
}

.update {
  color: black;
  font-size: 14px;
}

.link {
  text-decoration: underline;
  text-decoration-thickness: 2px;;                
  color: black;
  transition: opacity 0.4s;
}

.link:hover {
  opacity: 0.7;
  text-decoration: none;
}

.link:active {
    opacity: 0.5;
}