body{
    font-family: sans-serif;
}

.blog-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch
}

.blog-container{
    width: 30%;
    margin: 10px;
    margin-bottom: 10px;
    flex: 0 0 300px;
}

.blog-button {
    border: none;
    background-color: white;
    cursor: pointer;
    transition: opacity 0.2s;
    text-decoration: none;   /* remove underline */
    color: black;          /* match text color */
}

.blog-button:hover {
    opacity: 0.7;
}

.blog-button:active {
    opacity: 0.5;
}

.blog-image {
    width: 100%;
    height: 200px; /* or adjust to your preferred height */
    object-fit: cover;
    border-radius: 4px;
}

.blog-header{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.blog-summary{
    font-size: 14px;
    color: gray;
    text-align: left;
}

.blog-row{
    position: relative;
}

.blog-date{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    right: 4px;
    bottom: 10px;
    font-size: 0.8rem;
    font-weight: 550;
    padding: 3px;
    border-radius: 3px;
}

.blog-image-container {
    position: relative;
    width: 100%;
}