.container {
  margin: auto;
  max-width: 60rem;
  font-family: Sans-serif;
}

.nav-links {
  font-size: 1.4rem;
  margin-bottom: 0rem;
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-link-item {
  padding-left: 1.5rem;
}

.nav-link-text {
  color: black;
  text-decoration: none;
  font-weight: 700;
  opacity: 0.5;
  transition: 0.3s;
}

.nav-link-text:hover {
  opacity: 1;
}

nav {
  display: flex;
  justify-content: flex-end; /* Align to the right */
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.blog-card {
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  nav {
    justify-content: center;
  }
}